@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-family: 'Bebas Neue';
    --bg-color: #1B262C;
    --primary-color: #FDCB9E;
    --secondary-color: #00B7C2;
    --terciary-color: #0F4C75;
    --alert-color: #BB0000;
}

body {
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-size: large;
}

#main-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-title #page-icon {
    margin-right: 10px;
}

#main-title-text {
    font-family: var(--font-family);
}

.input-label {
    color: var(--secondary-color);
}

button {
    border-radius: 6px;
    color: white;
    background-color: var(--terciary-color);
    font-size: small;
}

button:hover {
    background-color: var(--secondary-color);
}

.form-input {
    /* white-space: nowrap; */
    display:inline-block;
    margin: 4px auto;
}

.form-title {
    text-align: center;
    display: block;
}

.inactive {
    color: black;
    background-color: lightgrey;
}

.alert {
    background-color: var(--alert-color);
}

.inactive:hover{
    background-color: lightgrey;
}

.data-table {
    border-collapse: collapse;
    text-align: center;
    margin: 30px auto;
    width: 100%;
}

th, td {
    padding: 4px 6px;
    border: 1px solid white;
}

.data-table > thead {
    border: 1px solid white;
    color: var(--secondary-color);
}

.number-input {
    width: 50px;
}

#notes-input {
    margin-left: auto;
    margin-right: auto;
    vertical-align: top;
    word-wrap: break-word;
}

.hourglass {
    margin-left: auto;
    margin-right: auto;
}