@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --font-family: 'Bebas Neue';
    --bg-color: #1B262C;
    --primary-color: #FDCB9E;
    --secondary-color: #00B7C2;
    --terciary-color: #0F4C75;
}

body {
    color: var(--primary-color);
    background-color: var(--bg-color);
    font-size: large;
}

#main-title {
    text-align: center;
    font-family: var(--font-family);
}

button {
    border-radius: 6px;
    color: white;
    background-color: var(--terciary-color);
    font-size: small;
}

button:hover {
    background-color: var(--secondary-color);
}

.inactive {
    color: black;
    background-color: lightgrey;
}

.inactive:hover{
    background-color: lightgrey;
}

.data-table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
}

th, td {
    padding: 4px 6px;
    border: 1px solid white;
}

.data-table > thead {
    border: 1px solid white;
    color: var(--secondary-color);
}